@media screen and (min-width: 32rem) {
    #layout {
        @apply grid;
        @apply h-100%;
        @apply bg-gray-100;
        grid-template: 1fr/1fr 64rem 1fr;
    }
}

@media screen and (max-width: 32rem) {
    #layout {
        grid-template: 1fr/1fr 1fr;
        max-width: 30rem;
    }
}